# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[{*,*.{js, json, md, mjs, yaml, yml}}]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_size = 2

[docs/**/*.md]
# turn off max line length on docs markdown files because line breaks have meaning in the docs when rendered by 11ty
max_line_length = off

[*.js]
max_line_length = 88
